.t2{
    font-size: 16px;
    color: black;
    font-family: Verdana, Helvetica, Arial;
    display:block; text-align:center;
}
.t{
    font-size: 14px;
    color: red;
    font-family: Verdana, Helvetica, Arial;
}
